{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visa Tech</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/company.css' %}" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="top">
            <div id="d-button">
                <a class="btn-link" href="/">SEARCH JOBS</a>
            </div>
            <div id="d-input">
                <form action="/companies" method="POST" enctype="multipart/form-data">
                    <input type="file" id="i-company" name="company-list" accept="text/csv"><br>
                    <button>SEARCH LINK</button>
                </form>
            </div>
        </div>
        <div id="grid">
            <table id="tb-company">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>EXPIRES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in company_list %}
                    <tr>
                        <td>{{ company.name }}</td>
                        <td>{{ company.expiration_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
