{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visa Tech</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="top">
            <div id="d-company">
                <a class="btn-link" href="/companies">IMPORT COMPANIES</a>
            </div>
            <div id="d-jobs">
                <form>
                    <input type="text">
                    <button>SEARCH LINK</button>
                </form>
            </div>
        </div>
        <div id="grid">
            <table id="tb-company">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Expires</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in company_list %}
                    <tr>
                        <td>{{ company.name }}</td>
                        <td>{{ company.expiration_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
