{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visa Tech</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="top">
            <div id="d-button">
                <a class="btn-link" href="/companies">IMPORT COMPANIES</a>
            </div>
            <div id="d-input">
                <form action="/jobs" method="POST">
                    <input type="text" name="i-job-link" value="{{ i_job_link }}"><br>
                    <button>SEARCH LINK</button>
                </form>
            </div>
        </div>
        <div id="grid">
            <table id="tb-company">
                <thead>
                    <tr>
                        <th>JOB</th>
                        <th>LOCAL</th>
                        <th>COMPANY</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in job_list %}
                    <tr>
                        <td><a href="{{ job.link }}" class="a-job" target="_blank">{{ job.job_name }}</a></td>
                        <td><a href="{{ job.link }}" class="a-job" target="_blank">{{ job.local }}</a></td>
                        <td><a href="{{ job.link }}" class="a-job" target="_blank">{{ job.company_name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
